/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SFONDO PAGINA */
body {
  background-image: url(../img/cork.png);
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  
}

/* HEADER */
header {
  text-align: center;
  background-image: url(../img/wall.png);
}

/* Card */
.photo-card {
  background-color: white;
  width: 50%;
  height: 250px;
}

.col-12 {
    justify-items: center;
}

/* .photo-container {
    display: flex;
    flex-wrap: wrap;
    
    
} */