/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SFONDO PAGINA */
body {
  background-image: url(../img/cork.png);
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
}

/* HEADER */
header {
  text-align: center;
  background-image: url(../img/wall.png);
}

/* Card */
.photo-card {
  background-color: white;
  flex-direction: column;
  display: flex;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 5);
    
}